IBM HR DATA: DEEP LEARNING FROM TABULAR DATA

In [1]:
# Import Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# Import the dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Generate categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
# Check the number of unique values in each column: any over 10?
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# Craete a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)

pd.set_option('display.max_columns', None)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one=hot encoded features and drop the original columns
attrition_df = attrition_df.merge(encode_df,left_index = True, right_index = True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

C:\Users\leske\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,4,5993,19479,8,11,3,1,80,0,8,0,1,6,4,0,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,2,5130,24907,1,23,4,4,80,1,10,3,3,10,7,1,7,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,3,2090,2396,6,15,3,2,80,0,7,3,3,0,0,0,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,3,2909,23159,1,11,3,3,80,0,8,3,3,8,7,3,0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,2,3468,16632,9,12,3,4,80,1,6,3,3,2,2,2,2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

Split the data before scaling

In [7]:
# Split the preprocessed data into features and target arrays
y=attrition_df['Attrition_Yes'].values
X=attrition_df.drop(['Attrition_Yes','Attrition_No'],1).values

# Split the preprocessed data into a trianing ang testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

C:\Users\leske\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

Scale the data

In [8]:
# Create a StandardScaler Instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Create the deep learning model (2 hidden layers)

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn=tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = 'relu'))

# Output later
nn.add(tf.keras.layers.Dense(units=1,activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

Compile the model and define loss and accuracy

In [11]:
# Compile the model
nn.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])

Train the model

In [12]:
# Train the model
fit_model = nn.fit(X_train,y_train, epochs = 100)

Epoch 1/100
35/35 [==============================] - 0s 660us/step - loss: 18.1187 - accuracy: 0.5209
Epoch 2/100
35/35 [==============================] - 0s 614us/step - loss: 4.4999 - accuracy: 0.7278
Epoch 3/100
35/35 [==============================] - 0s 601us/step - loss: 3.8993 - accuracy: 0.8276
Epoch 4/100
35/35 [==============================] - 0s 632us/step - loss: 3.2595 - accuracy: 0.8276
Epoch 5/100
35/35 [==============================] - 0s 624us/step - loss: 2.5921 - accuracy: 0.8276
Epoch 6/100
35/35 [==============================] - 0s 607us/step - loss: 2.0585 - accuracy: 0.8276
Epoch 7/100
35/35 [==============================] - 0s 638us/step - loss: 1.6081 - accuracy: 0.8276
Epoch 8/100
35/35 [==============================] - 0s 605us/step - loss: 1.2697 - accuracy: 0.8276
Epoch 9/100
35/35 [==============================] - 0s 620us/step - loss: 1.0309 - accuracy: 0.8276
Epoch 10/100
35/35 [==============================] - 0s 619us/step - loss: 0.8762 - accuracy: 0.8276
Epoch 11/100
35/35 [==============================] - 0s 656us/step - loss: 0.7333 - accuracy: 0.8276
Epoch 12/100
35/35 [==============================] - 0s 598us/step - loss: 0.5923 - accuracy: 0.8276
Epoch 13/100
35/35 [==============================] - 0s 611us/step - loss: 0.5850 - accuracy: 0.8276
Epoch 14/100
35/35 [==============================] - 0s 661us/step - loss: 0.5782 - accuracy: 0.8276
Epoch 15/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5717 - accuracy: 0.8276
Epoch 16/100
35/35 [==============================] - 0s 664us/step - loss: 0.5655 - accuracy: 0.8276
Epoch 17/100
35/35 [==============================] - 0s 607us/step - loss: 0.5596 - accuracy: 0.8276
Epoch 18/100
35/35 [==============================] - 0s 660us/step - loss: 0.5540 - accuracy: 0.8276
Epoch 19/100
35/35 [==============================] - 0s 608us/step - loss: 0.5487 - accuracy: 0.8276
Epoch 20/100
35/35 [==============================] - 0s 714us/step - loss: 0.5437 - accuracy: 0.8276
Epoch 21/100
35/35 [==============================] - 0s 622us/step - loss: 0.5389 - accuracy: 0.8276
Epoch 22/100
35/35 [==============================] - 0s 614us/step - loss: 0.5344 - accuracy: 0.8276
Epoch 23/100
35/35 [==============================] - 0s 622us/step - loss: 0.5302 - accuracy: 0.8276
Epoch 24/100
35/35 [==============================] - 0s 626us/step - loss: 0.5261 - accuracy: 0.8276
Epoch 25/100
35/35 [==============================] - 0s 643us/step - loss: 0.5223 - accuracy: 0.8276
Epoch 26/100
35/35 [==============================] - 0s 648us/step - loss: 0.5185 - accuracy: 0.8276
Epoch 27/100
35/35 [==============================] - 0s 671us/step - loss: 0.5151 - accuracy: 0.8276
Epoch 28/100
35/35 [==============================] - 0s 614us/step - loss: 0.5118 - accuracy: 0.8276
Epoch 29/100
35/35 [==============================] - 0s 654us/step - loss: 0.5086 - accuracy: 0.8276
Epoch 30/100
35/35 [==============================] - 0s 678us/step - loss: 0.5057 - accuracy: 0.8276
Epoch 31/100
35/35 [==============================] - 0s 671us/step - loss: 0.5029 - accuracy: 0.8276
Epoch 32/100
35/35 [==============================] - 0s 640us/step - loss: 0.5003 - accuracy: 0.8276
Epoch 33/100
35/35 [==============================] - 0s 681us/step - loss: 0.4977 - accuracy: 0.8276
Epoch 34/100
35/35 [==============================] - 0s 633us/step - loss: 0.4954 - accuracy: 0.8276
Epoch 35/100
35/35 [==============================] - 0s 692us/step - loss: 0.4932 - accuracy: 0.8276
Epoch 36/100
35/35 [==============================] - 0s 643us/step - loss: 0.4911 - accuracy: 0.8276
Epoch 37/100
35/35 [==============================] - 0s 725us/step - loss: 0.4892 - accuracy: 0.8276
Epoch 38/100
35/35 [==============================] - 0s 647us/step - loss: 0.4872 - accuracy: 0.8276
Epoch 39/100
35/35 [==============================] - 0s 654us/step - loss: 0.4854 - accuracy: 0.8276
Epoch 40/100
35/35 [==============================] - 0s 643us/step - loss: 0.4838 - accuracy: 0.8276
Epoch 41/100
35/35 [==============================] - 0s 656us/step - loss: 0.4822 - accuracy: 0.8276
Epoch 42/100
35/35 [==============================] - 0s 640us/step - loss: 0.4808 - accuracy: 0.8276
Epoch 43/100
35/35 [==============================] - 0s 632us/step - loss: 0.4793 - accuracy: 0.8276
Epoch 44/100
35/35 [==============================] - 0s 675us/step - loss: 0.4780 - accuracy: 0.8276
Epoch 45/100
35/35 [==============================] - 0s 656us/step - loss: 0.4767 - accuracy: 0.8276
Epoch 46/100
35/35 [==============================] - 0s 675us/step - loss: 0.4756 - accuracy: 0.8276
Epoch 47/100
35/35 [==============================] - 0s 607us/step - loss: 0.4745 - accuracy: 0.8276
Epoch 48/100
35/35 [==============================] - 0s 706us/step - loss: 0.4734 - accuracy: 0.8276
Epoch 49/100
35/35 [==============================] - 0s 649us/step - loss: 0.4725 - accuracy: 0.8276
Epoch 50/100
35/35 [==============================] - 0s 655us/step - loss: 0.4716 - accuracy: 0.8276
Epoch 51/100
35/35 [==============================] - 0s 640us/step - loss: 0.4708 - accuracy: 0.8276
Epoch 52/100
35/35 [==============================] - 0s 661us/step - loss: 0.4699 - accuracy: 0.8276
Epoch 53/100
35/35 [==============================] - 0s 732us/step - loss: 0.4692 - accuracy: 0.8276
Epoch 54/100
35/35 [==============================] - 0s 647us/step - loss: 0.4685 - accuracy: 0.8276
Epoch 55/100
35/35 [==============================] - 0s 618us/step - loss: 0.4678 - accuracy: 0.8276
Epoch 56/100
35/35 [==============================] - 0s 647us/step - loss: 0.4673 - accuracy: 0.8276
Epoch 57/100
35/35 [==============================] - 0s 623us/step - loss: 0.4667 - accuracy: 0.8276
Epoch 58/100
35/35 [==============================] - 0s 650us/step - loss: 0.4662 - accuracy: 0.8276
Epoch 59/100
35/35 [==============================] - 0s 618us/step - loss: 0.4657 - accuracy: 0.8276
Epoch 60/100
35/35 [==============================] - 0s 622us/step - loss: 0.4652 - accuracy: 0.8276
Epoch 61/100
35/35 [==============================] - 0s 664us/step - loss: 0.4648 - accuracy: 0.8276
Epoch 62/100
35/35 [==============================] - 0s 648us/step - loss: 0.4644 - accuracy: 0.8276
Epoch 63/100
35/35 [==============================] - 0s 672us/step - loss: 0.4640 - accuracy: 0.8276
Epoch 64/100
35/35 [==============================] - 0s 618us/step - loss: 0.4637 - accuracy: 0.8276
Epoch 65/100
35/35 [==============================] - 0s 624us/step - loss: 0.4634 - accuracy: 0.8276
Epoch 66/100
35/35 [==============================] - 0s 647us/step - loss: 0.4630 - accuracy: 0.8276
Epoch 67/100
35/35 [==============================] - 0s 651us/step - loss: 0.4628 - accuracy: 0.8276
Epoch 68/100
35/35 [==============================] - 0s 623us/step - loss: 0.4626 - accuracy: 0.8276
Epoch 69/100
35/35 [==============================] - 0s 653us/step - loss: 0.4623 - accuracy: 0.8276
Epoch 70/100
35/35 [==============================] - 0s 618us/step - loss: 0.4621 - accuracy: 0.8276
Epoch 71/100
35/35 [==============================] - 0s 618us/step - loss: 0.4619 - accuracy: 0.8276
Epoch 72/100
35/35 [==============================] - 0s 624us/step - loss: 0.4617 - accuracy: 0.8276
Epoch 73/100
35/35 [==============================] - 0s 618us/step - loss: 0.4615 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 618us/step - loss: 0.4614 - accuracy: 0.8276
Epoch 75/100
35/35 [==============================] - 0s 647us/step - loss: 0.4612 - accuracy: 0.8276
Epoch 76/100
35/35 [==============================] - 0s 647us/step - loss: 0.4611 - accuracy: 0.8276
Epoch 77/100
35/35 [==============================] - 0s 647us/step - loss: 0.4610 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 647us/step - loss: 0.4609 - accuracy: 0.8276
Epoch 79/100
35/35 [==============================] - 0s 681us/step - loss: 0.4607 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 652us/step - loss: 0.4606 - accuracy: 0.8276
Epoch 81/100

35/35 [==============================] - 0s 647us/step - loss: 0.4606 - accuracy: 0.8276
Epoch 82/100
35/35 [==============================] - 0s 647us/step - loss: 0.4605 - accuracy: 0.8276
Epoch 83/100
35/35 [==============================] - 0s 620us/step - loss: 0.4604 - accuracy: 0.8276
Epoch 84/100
35/35 [==============================] - 0s 618us/step - loss: 0.4603 - accuracy: 0.8276
Epoch 85/100
35/35 [==============================] - 0s 650us/step - loss: 0.4603 - accuracy: 0.8276
Epoch 86/100
35/35 [==============================] - 0s 618us/step - loss: 0.4602 - accuracy: 0.8276
Epoch 87/100
35/35 [==============================] - 0s 623us/step - loss: 0.4602 - accuracy: 0.8276
Epoch 88/100
35/35 [==============================] - 0s 653us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 89/100
35/35 [==============================] - 0s 618us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 90/100
35/35 [==============================] - 0s 650us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 91/100
35/35 [==============================] - 0s 618us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 92/100
35/35 [==============================] - 0s 647us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 618us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 94/100
35/35 [==============================] - 0s 593us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 95/100
35/35 [==============================] - 0s 650us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 96/100
35/35 [==============================] - 0s 618us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 97/100
35/35 [==============================] - 0s 647us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 98/100
35/35 [==============================] - 0s 618us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 99/100
35/35 [==============================] - 0s 618us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 100/100
35/35 [==============================] - 0s 624us/step - loss: 0.4598 - accuracy: 0.8276

Test the model

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3904 - accuracy: 0.8723 - 84ms/epoch - 7ms/step
Loss: 0.3903905153274536, Accuracy: 0.8722826242446899